:root{
  --color-dark1 : rgb(14,14,14);
  --color-dark2 : rgb(32,32,32);
  --color-dark3 : rgb(22,22,22);
  --color-white : #fff;
  --color-gren1 : rgb(103,195,80);
  --color-gren2 : rgb(51,149,26);
  --color-red1 : rgb(184,40,35);
  --color-red2 : rgb(146,22,17);
  --color-purple1 : rgb(161,132,194);
  --color-purple2 : rgb(116,79,204);
  --color-purple3 : rgb(44,5,108);
}

body{
  font-family: 'firacode';
  background-color: var(--color-dark1);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}


.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.contentAdd{
  display: flex;
  align-self: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#btnAdd, 
#newEstado,
#newUf {
  border: none;
  font-size: 1rem;
  padding: 1rem;

}

#newEstado,
#newUf{
  border-radius: 1rem;
  border-width: none;
  outline: none;
  
}
#newEstado{
  width: 23rem;
  
}

#newUf{
  width: 3rem;
}

#btnAdd{
  background-color: var(--color-purple1);
  color: var(--color-white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: .4s;
}

#btnAdd:hover{
  background-color: var(--color-purple2);
}

table,
th,
td {
    border: 1px  black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 20px;
    transition: 0.2s;
    text-align: start;
}

table{
  background-color: var(--color-dark2);
  width: 50%;
}

tr:nth-child(odd){
  background-color: var(--color-purple2);
}

th:nth-child(1){
  width: 80%;
}

tr:hover {
  background: var(--color-purple3);
}